/* As the screen width increases, gradually increase root font size from 8px to 16px */
html {
    font-size: 8px;
    font-family: sans-serif;
}
@media (min-width: 768px) {
    html {
        font-size: 9px;
    }
}
@media (min-width: 1024px) {
    html {
        font-size: 9.5px;
    }
}
@media (min-width: 1280px) {
    html {
        font-size: 10px;
    }
}
@media (min-width: 1440px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 1920px) {
    html {
        font-size: 16px;
    }
}


/********************* Header **************************/
header {
    /* Position, size, color */
    height: 10vh;
    width: 100vw;
    background-color: white;

    /* Alignment */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
    /*** Header Logo ***/
    /* As the screen gets bigger, make the logo bigger */
#header-logo {
    width: 42vw;
    margin-left: 15px;
}
@media (min-width: 600px) {
    #header-logo {
        width: 339px;
        height: 6vh;
    }
}
    /* Hold Nav + Tix button in a container so we can lay
    them out together using flexbox */
#header-flex-right-container {
    /* Size it right for small screens */
    width: 180px;
    height: 10vh;

    /* Align the nav and Tix button appropiately */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
    /* At small screen sizes, we go hamburger menu, not full nav */
#header-flex-right-container > nav {
    display: none;
}
#header-flex-right-container > button {
    /* Look&Feel, size */
    letter-spacing: .15em;
    width: 90px;
    height: 30px;
    font-size: 1.5rem;

    /* Positioning */
    margin-left: 13px;
    margin-right: 13px;
}
    /* At 2014 pixels, swap out the hamburger icon for a full fledged nav */
@media (min-width: 1024px) {
    #header-mobile-menu { display: none; }
    #header-flex-right-container { width: 800px; /* Trial and Error */ }
    #header-flex-right-container > nav {
        display: inline-block;
        width: 90%;
    }
    #header-flex-right-container > nav > ul {
        /* Take up the entire nav container */
        width: 100%;

        /* Line up the nav elements */
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        font-size: 1.5rem;
    }
    /* Put social nav icons to the left for spacing reasons */
    .header-nav-social-icon {
        order: -1; /
    }
    .header-nav-social-icon > img {
        display: none; /* Don't display. Screen still too small */
        height: 1.8rem;
    }
    #header-flex-right-container > button {
        height: 32px;
        width: 105px;
        margin-right: 25px;
        margin-left: 40px;

        font-size: 1.5rem;
    }
}
@media (min-width: 1180px) {
     /* Bring in the social icons */
    .header-nav-social-icon {
        order: 10; /* Put them back on the right */
    }
    .header-nav-social-icon > img {
        display: inline-block; /* Display them */
    }
}

/* Decrease the size of nav links, icons, and button at large screen sizes */
@media (min-width: 1440px) {
    #header-flex-right-container > button {
        font-size: 1.1rem;
    }

    .header-nav-social-icon > img {
        height: 1.4rem;
    }

    #header-flex-right-container > nav > ul {
        font-size: 1.1rem;
    }
}
#header-mobile-menu {
    height: 10vh;
    width: 54px; /* Width + L/R padding carefully calibrated */
    padding: 2vh 13px 2vh 13px;
    border-left: 1px solid #e3e3e3;
}

/* Basic Button action everywhere */
button {
    background-color: #9cffde;
    text-transform: uppercase;
    letter-spacing: .15em;
}
button:hover {
    background-color: #000000;
    color: #9cffde;
}

/* Make a container relatively positions */
.p-rel {
    position: relative;
}