/* Set the root font-size and font family for rems */
html {
    font-size: 8px;
    font-family: sans-serif;
}

/* Basic Button action everywhere */
button {
    background-color: #9cffde;
    text-transform: uppercase;
}
button:hover {
    background-color: #000000;
    color: #9cffde;
}

/********************************** HERO *************************************/
.idx-hero {
    /* Apply position so that the <main> element can position itself against this */
    position: relative;

    /* Bckground */
    background-image: url("../assets/img/dybrkr_home_background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Sizing */
    width: 100vw;
    height: 60vh;
}

    /*********** HANDLING THE VIDEO ***********/
/* At the smallest screen sizes, we use a background image, no video. At 760px, we
switch to the vdeio. At 1280px, we fix the height of the video so that it doesn't
grow outside of its container in an attempt to preserve its aspect ratio. */
.idx-hero > video {
    display: none;
}
@media (min-width: 760px) {
    .idx-hero > video {
        width: 100vw;
        display: block;
        object-fit: fill;
        object-position: center;
    }

    .idx-hero {
        background-image: none;

        /* Take up however much space it needs for content, and no more.
        This ensures you don't have weird mismatches when the video is
        shorter than the full viewport height (minus the header) due to
        its fixed aspect ratio */
        height: auto;
    }
}
@media (min-width: 1280px) {
    .idx-hero > video {
        /* Set height to 90vh so that video + header equals 100vh */
        height: 90vh;
    }
}

    /********** MAIN HERO *********************/
/* The purpose of the <main> container is to hold the necessary space to properly
center the splash content */
.idx-hero > main {
    /* Occupy the entire below-nav/above-the-fold space */
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    /* Center the splash content within itself */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Overlap a black color */
.blk-overlay {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
/* Center items horizontally within the splash area */
.splash-container {
    position: absolute; /* Draw this OVER blk-overlay, rather than after it */

    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    text-transform: uppercase;
    text-align: center; /* For when text wraps to a second line */
}
.splash-container > img {
    width: 18vw;
    margin-bottom:4rem;
}
h1 {
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 1.75px;
    line-height: 3rem;
    color: white;

    margin-bottom: 3rem;

}
h2 {
    font-size: 3vw;
    font-weight: 200;
    letter-spacing: .4rem;
    line-height: 2.5rem;
    color: #DCDCDC;

    margin-bottom: 3rem;
}
h3 {
    font-size: 2.5vw;
    font-weight: 400;
    letter-spacing: .3rem;
    color: #D8D8D8;

    margin-top: 3rem;
}
#splashdetail1break {
    display: inline; /* At smaller screen sizes, there should be a line break */
}
#splashdetailverticalbar {
    display: none; /* When detail 1 on two lines, don't display this bar */
}
#form-standin-homepage {
    padding: 20px 100px;
    background-color: white;
    max-width: 90%;
}
    /*** HERO AT MIDDLE TO LARGE SCREEN SIZES **/
@media (min-width: 700px) {
    .splash-container > img {
        width: 6vw;

        margin-bottom: 3rem;
    }
    h1 {
        font-size: 8.25rem;
        font-weight: 700;
        letter-spacing: 2.5px;
        line-height: 1;

        margin-bottom: 2rem;
    }
    h2 {
        font-size: 2.625rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    #splashdetail1break {
        display: none; /* At larger screen sizes, no line break here */
    }
    #splashdetailverticalbar {
        display: inline; /* At larger screen sizes, display this seperator */
    }
    .splash-h2-vertbar {
        vertical-align: text-top;
    }
    #form-standin-homepage {
        padding: 20px 300px;
    }
}
