/**************************** ALL INDEX ****************************************/
.title-image {
    margin: 0 auto;
    display: block;
    max-width: 75%;
}

/******************************  HERO ******************************************/
.idx-hero {
    /* Bckground */
    background-image: url("../assets/img/dybrkr_home_background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* Sizing */
    width: 100vw;
    height: 60vh;
}
    /*********** HANDLING THE VIDEO ***********/
/* At the smallest screen sizes, we use a background image, no video. At 760px, we
switch to the vdeio. At 1280px, we fix the height of the video so that it doesn't
grow outside of its container in an attempt to preserve its aspect ratio. */
.idx-hero > video {
    display: none;
}
@media (min-width: 760px) {
    .idx-hero > video {
        width: 100vw;
        display: block;
        object-fit: fill;
        object-position: center;
    }

    .idx-hero {
        background-image: none;

        /* Take up however much space it needs for content, and no more.
        This ensures you don't have weird mismatches when the video is
        shorter than the full viewport height (minus the header) due to
        its fixed aspect ratio */
        height: auto;
    }
}
@media (min-width: 1280px) {
    .idx-hero > video {
        /* Set height to 90vh so that video + header equals 100vh */
        height: 90vh;
    }
}
    /********** MAIN HERO *********************/
/* The purpose of the <main> container is to hold the necessary space to properly
center the splash content */
.idx-hero > main {
    /* Occupy the entire below-nav/above-the-fold space */
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    /* Center the splash content within itself */
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Center items horizontally within the splash area */
.splash-container {
    position: absolute; /* Draw this OVER blk-overlay, rather than after it */

    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    text-transform: uppercase;
    text-align: center; /* For when text wraps to a second line */
}
.splash-container > img {
    width: 18vw;
    margin-bottom:4rem;
}
#splashdetail1break {
    display: inline; /* At smaller screen sizes, there should be a line break */
}
#splashdetailverticalbar {
    display: none; /* When detail 1 on two lines, don't display this bar */
}
#form-standin-homepage {
    padding: 20px 100px;
    background-color: white;
    max-width: 90%;
}
    /*** HERO AT MIDDLE TO LARGE SCREEN SIZES **/
@media (min-width: 700px) {
    .splash-container > img {
        width: 6vw;
        margin-bottom: 3rem;
    }
    h1 {
        font-size: 8.25rem;
        font-weight: 700;
        letter-spacing: 2.5px;
        line-height: 1;

        margin-bottom: 2rem;
    }
    h2 {
        font-size: 2.625rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    #splashdetail1break {
        display: none; /* At larger screen sizes, no line break here */
    }
    #splashdetailverticalbar {
        display: inline; /* At larger screen sizes, display this seperator */
    }
    .splash-h2-vertbar {
        vertical-align: text-top;
    }
    #form-standin-homepage {
        padding: 20px 300px;
    }
}

/*********************** LET'S BE FRIENDS *************************************/
.lets-be-friends {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    padding: 1vw;

}
.lets-be-friends img {
    height: 18vw;
}
.mobile-off {
    display: none;
}
@media (min-width: 736px) {
    .mobile-off {
        display: inline-block;
    }
    .mobile-on {
        display: none;
    }

    .lets-be-friends img {
        height: 11vw;
    }
}

/*********************** MORE MISCHIEF *************************************/
    /* Basic sizing of section relative to other sections. Background */
.idx-more-mischief {
    background-image: url("../assets/img/mm-section-bg.jpg");

    /* Put some space between this section and the ones below and above it */
    padding-top: 25px;
    padding-bottom: 50px;
}
    /* Flexbox Container for cards */
.idx-mm-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 0 auto;
}
    /* Basic styling for the horizontal and vertical card containers */
.mm-horizontal-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    background: white;
    text-align: center;
    padding-bottom: 10px;
}
.mm-horizontal-card-flex-right-container {
    padding: 20px 0;
    width: 50%;
}
.mm-vert-card {
    width: 47%;
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
    background-color: white;
}
    /* Basic styling for the h1, h2, button and img elements in horizontal and vertical cards */
.mm-vert-card > img, .mm-horizontal-card > img {
    width: 17vh;
    height: 17vh;
    margin-bottom: 10px;
}
h1.mm-card-title {
    color: black;
    font-size: 5.4vw;
    letter-spacing: .3vw;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 0;
}
h2.mm-card-subtitle {
    color: black;
    font-size: 4vw;
    letter-spacing: .1vw;
    line-height: 1.5;
    font-family: serif;
    font-weight: 100;
    padding: 0 3vw;
}
button.mm-card-button {
    font-size: 1.7vh;
    padding: 1.5vh 3.5vw 1.5vh;
    letter-spacing: .2vw;
    font-weight: 400;
}
    /* At smaller screen sizes, don't show the 3rd vertical card */
.idx-mm-container div:nth-child(4) {
    display: none;
}
    /****** the details *******/
    /* Use a series of MQs to set the min-height for detail text s.t
    - each card remains equally sized at all screen widths
    - the distance from the button to the detail text doesn't get too big.
     */
.mm-vert-card > h2.mm-card-subtitle {
    min-height: 120px;
}
@media (min-width: 520px) {
    .mm-vert-card > h2.mm-card-subtitle {
        min-height: 180px;
    }
}
@media (min-width: 1000px) {
    .mm-vert-card > h2.mm-card-subtitle {
        min-height: 100px;
    }
}
    /* At 736px, switch up the layout and adjust styles as needed */
@media (min-width: 736px) {
    /* Swap the horizontal card for a third vertical card */
    .mm-horizontal-card {
        display: none;
    }
    .idx-mm-container div:nth-child(4) {
        display: block;
    }
    .mm-vert-card {
        width: 31%;
    }

    /* Adjust the image, h1, h2, and button styles accordingly */
    .mm-vert-card > img {
        width: 100%;
        height: auto;

        padding: 44px;
    }
    h1.mm-card-title {
        font-size: 2.2vw;
        margin-bottom: 3vh;
    }
    h2.mm-card-subtitle {
        font-size: 20px;
        letter-spacing: normal;
        text-align: center;

    }
    button.mm-card-button {
        font-size: 2.5vh;
        padding: 2.5vh 1.5vw 1.9vh;
    }
}