/**************************** ALL INDEX ****************************************/
.title-image {
    margin: 0 auto;
    display: block;
    max-width: 75%;
}

/******************************  HERO ******************************************/
.idx-hero {
    /* Bckground */
    background-image: url("../assets/img/dybrkr_home_background_image.jpg"); background-size: cover;
    background-repeat: no-repeat; background-position: center;

    /* Sizing */
    width: 100vw; height: 70vh;
}
    /*********** VIDEO ***********/
/* At the smallest screen sizes, we use a background image, no video. At 760px, we
switch to the video. At 1280px, we fix the height of the video so that it doesn't
grow outside of its container in an attempt to preserve its aspect ratio. */
.idx-hero > video { display: none; }
@media (min-width: 760px) {
    .idx-hero > video {
        width: 100vw; display: block;
        object-fit: fill; object-position: center;
    }
    .idx-hero {
        background-image: none;
        /* Take up however much space it needs for content, and no more.
        This ensures you don't have weird mismatches when the video is
        shorter than the full viewport height (minus the header) due to
        its fixed aspect ratio */
        height: auto;
    }
}
@media (min-width: 1280px) {
    .idx-hero > video {
        /* Set height to 90vh so that video + header equals 100vh */
        height: 90vh;
    }
}

    /********** MAIN HERO; HERO AT SMALL SCREEN SIZES *********************/
/* The purpose of the <main> container is to hold the necessary space to properly
center the splash content */
.idx-hero > main {
    /* Occupy the entire below-nav/above-the-fold space */
    position: absolute;
    left: 0; right: 0; bottom: 0; /* Leave top to responsive.css, since it's determined by height of header */
}
/* Center items horizontally within the splash area */
.splash-container {
    position: absolute; /* Draw this OVER blk-overlay, rather than after it */
    text-align: center; /* For when text wraps to a second line */
}
.splash-container > img {
    width: 12vw; margin-bottom:4rem;
}
#splashdetail1break {
    display: inline; /* At smaller screen sizes, there should be a line break */
}
#splashdetailverticalbar {
    display: none; /* When detail 1 on two lines, don't display this bar */
}
#form-standin-homepage {
    padding: 20px 100px;
    background-color: white;
    max-width: 90%;
}

    /*** HERO AT MIDDLE TO LARGE SCREEN SIZES **/
@media (min-width: 700px) {
    .splash-container > img {
        width: 6vw;
        margin-bottom: 3rem;
    }
    h1 {
        font-size: 7rem; font-weight: 500; letter-spacing: 2.5px; line-height: 1;
        margin-bottom: 2rem;
    }
    h2 { font-size: 2rem; }
    h3 { font-size: 1.25rem; }
    #splashdetail1break { display: none; /* At larger screen sizes, no line break here */ }
    #splashdetailverticalbar { display: inline; /* At larger screen sizes, display this seperator */ }
    .splash-h2-vertbar { vertical-align: text-top; }
    #form-standin-homepage { padding: 20px 300px; }
}

/*********************** LET'S BE FRIENDS *************************************/
.lets-be-friends { padding: 1vw; }
.lets-be-friends img { height: 18vw; }
.mobile-off { display: none; }
.mobile-on { margin: 0 5px; }
@media (min-width: 736px) {
    .mobile-off { display: inline-block; }
    .mobile-on { display: none; }
    .lets-be-friends img { height: 11vw; }
}

/*********************** MORE MISCHIEF *************************************/
    /* Basic sizing of section relative to other sections. Background */
.idx-more-mischief {
    background-image: url("../assets/img/mm-section-bg.jpg");

    /* Put some space between this section and the ones below and above it */
    padding-top: 25px; padding-bottom: 50px;
}
    /* Flexbox Container for cards */
.idx-mm-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 20px auto 0px auto;
}
    /* Basic styling for the horizontal and vertical card containers */
.mm-horizontal-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;

    background: white;
    text-align: center;
    padding-bottom: 10px;
}
.mm-horizontal-card-flex-right-container {
    padding: 20px 0;
    width: 55%;
    margin-right: -5%;
}
.mm-vert-card {
    width: 47%;
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
    background-color: white;
}
    /* Basic styling for the h1, h2, button and img elements in horizontal and vertical cards */
.mm-vert-card > img, .mm-horizontal-card > img {
    width: 17vh;
    height: 17vh;
    margin-bottom: 10px;
}
h1.mm-card-title {
    color: black;
    font-size: 5.4vw; font-weight: 400;
    letter-spacing: .3vw; text-transform: uppercase; line-height: 1.5;
    margin-bottom: 0;
}
h2.mm-card-subtitle {
    font-family: 'Roboto Slab', serif; font-weight: 300; font-size: 1.8rem; color: black;
    letter-spacing: .1vw; line-height: 1.5;
    padding: 0 3vw; margin-top: 10px; margin-bottom: 10px;
    display: flex; flex-direction: row; justify-content: center; /* centers the text better than text-align */
}
button.mm-card-button {
    font-size: 1.7vh; font-weight: 400;
    padding: 1.5vh 3.5vw 1.5vh;
    letter-spacing: .2vw;
}
    /* At smaller screen sizes, don't show the 3rd vertical card */
.idx-mm-container div:nth-child(4) {
    display: none;
}
    /****** the details *******/
    /* Use a series of MQs to set the min-height for detail text s.t
    - each card remains equally sized at all screen widths
    - the distance from the button to the detail text doesn't get too big.
     */
.mm-vert-card > h2.mm-card-subtitle {
    min-height: 120px;
}

    /* At 736px, switch up the layout and adjust styles as needed */
@media (min-width: 736px) {
    /* Swap the horizontal card for a third vertical card */
    .mm-horizontal-card {
        display: none;
    }
    .idx-mm-container div:nth-child(4) {
        display: block;
    }
    .mm-vert-card {
        width: 31%;
    }

    /* Adjust the image, h1, h2, and button styles accordingly */
    .mm-vert-card > img {
        width: 100%;
        height: auto;

        padding: 44px;
    }
    h1.mm-card-title {
        font-size: 2.2vw;
        margin-bottom: 3vh;
    }
    button.mm-card-button {
        font-size: 2.5vh;
        padding: 2.5vh 1.5vw 1.9vh;
    }
}
@media (min-width: 1024px) {
    .mm-vert-card > h2.mm-card-subtitle {
        font-size: 20px;
        min-height: 130px;
    }
}

/*********************** Bring us to your city *************************************/
.idx-bring-us-to-your-city {
    background-image: url("../assets/img/Producer-section-background-img.jpg");
    background-size: cover;
    padding: 3vw 0;

    text-align: center; /* to center the main CTA button */
}

/*********************** Real News ,*************************************/
    /* Basic background color and setup */
.idx-real-news {
    background-color: rgb(249, 249, 249);
    padding: 40px 0;
}
    /* Flex container for cards */
.idx-rn-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;

}
    /* Basic styling for cards, layout and inner contents */
.rn-row-1-card, .rn-row-2-card {
    background: white;
    width: 100%;
    margin: 10px 0;
    padding: 20px 10px 30px 10px;
}
.rn-card-image {
    display: block;
    margin: 0 auto;
}
@media (max-width: 736px) {
    .rn-card-image {
        width: 30%; /* Make the image smaller at smaller screen sizes */
    }
}
.rn-card-bq {
    display: block; margin: 0 auto;
    font-family: 'Roboto Slab', serif; font-weight: 100; font-style: italic; color: #4e4e4e; font-size: 5vw;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}
blockquote:before {
    content:open-quote;
}
blockquote:after {
    content:close-quote;
}
    /* At 736px, redo layout and some details of the inner contents */
@media (min-width: 736px) {
    .rn-card-bq {
        font-size: 2rem;
        margin: 10px;
    }
    .rn-row-1-card { width: 30%; }
    .rn-row-2-card { width: 47%; }
    .rn-row-2-card, .rn-row-1-card {
        height: 334px; /* So that all cards are same height even if text boxes vary in height */
    }
}

/*********************** Join Us *************************************/
.idx-join-us {
    text-align: center;
    padding: 20px 0;
}
.pre-ftr-container > p {
    text-transform: uppercase;
    padding: 0 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pre-ftr-container > div#form-standin-homepage {
    background-color: beige;
    margin: 0 auto;
    margin-top: 15px;
}
.pre-ftr-container > p > span {
    color: #50e3c2;
}
.pre-ftr-container {
    margin: 0 auto 20px auto;
    max-width: 80%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
@media (min-width: 736px) {
    .pre-ftr-container {
        max-width: 55%;
    }
}

/********************** CAROUSEL SECTION**********************************/
/*      INFO BOX PRIOR TO CAROUSEL                        */
.experience-text {
    background-color: white;
    max-width: 90%;

    display: block;
    margin: 0 auto 30px auto; /* No margin up top, but need some space down under */

    padding: 10px 5px 0px 5px;
    text-align: center;
}
.experience-text h2 {
    color: black;
    font-weight: 100;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    margin: 20px 10px;
}
@media (min-width: 970px) {
    .experience-text h2 {
        font-size: 3.5rem;
    }
}
.experience-text-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 15px auto;
}
.experience-text-list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
}
.experience-text-list-item img {
    width: 60px;
    height: 60px;
}
.experience-text-list-item p {
    font-size: 13px;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.25rem;
    text-align: left;
    margin-left: 10px;
}
        /* Responsiveness: 0-768px, 768px-1200px, 1201px+         */
@media (max-width: 361px) {
    .experience-text-list {
        width: 95%;                 /* List should take up 95% of width of containing box */
    }
}
@media (max-width: 767px) {
    .experience-text-list {
        width: 266px;               /* Above 766px, peg the width of the list */
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .experience-text {
        width: 71%;
    }
    .experience-text-list {
        flex-flow: row wrap;
    }
    .experience-text-list-item {
        height: 135px;
        width: 50%;
        flex-flow: column wrap;
        justify-content: center;
    }
    .experience-text-list-item img {
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }
    .experience-text-list-item p {
        /*margin: 5px 10%;*/
        text-align: center;
    }
}
@media (min-width: 1201px) {
    .experience-text {
        width: 71%;
        padding-bottom: 3px;
    }
    .experience-text-list {
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    .experience-text-list-item {
        flex-flow: column nowrap;
        width: 266px;
    }
    .experience-text-list-item img {
        width: 85px;
        height: 85px;
        margin-bottom: 5px;
    }
    .experience-text-list-item p {
        text-align: center;
        margin-top: 5px;
    }
}
@media (min-width: 970px) {
    div.experience-test h2 {
        font-size: 5vw;             /* Adjust the font-size for the main text */
    }
}
/*      BASIC CAROUSEL SETUP: section, image, detail box */
.slider-section {
    background-image: url("../assets/img/06-Homepage-Zigzag-background.png");
    height: fit-content;
    padding-top: 40px;
    padding-bottom: 80px; /* need extra padding on bottom to accomodate the absolutely positioned dots */
}
.slider-img {
    /* Sizing, background configuration */
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80vh;

    /* Set position: relative to facilitate layout of the detail box */
    position: relative;
}
.slider-detail {
    /* Slider detail box that floats on top of each image */

    /* Basic appearance and size */
    background: white; height: 22%; width: 94%;

    /* Positioning */
    position: absolute; bottom: 10%; left: 3%; right: 3%;

    /* Align internal using flexbox */
    display: flex; flex-direction: row; align-items: center; justify-content: flex-start;
}
.slider-number {
    border: 4px solid red; border-radius: 50%;
    margin-left: 3%; margin-right: 3%;
    width: 70px; height: 70px;

    /* Center the number within its box */
    display: flex; justify-content: center; align-items: center;

    color: #AEAEAE; font-size: 5rem;
}
.slider-content-right {
    height: 80%;
    padding-right: 5px;
    max-width: 70%; /* To keep it from smushing the number at small widths */
    text-transform: uppercase;

    /* Vertically center text within the container */
    display: flex; flex-flow: column nowrap; justify-content: center;
}
.slider-title {
    font-size: 2.8rem; letter-spacing: .125rem; font-weight: 100;
    margin-bottom: 1rem;
}
.slider-subtext {
    font-size: 1.5rem; color: #B1B1B1; letter-spacing: 0.2rem; line-height: 2.2rem; font-weight: 300;
}
        /*      Background images for each slide                 */
#slide1 {background-image: url("../assets/img/Daybreaker_Experience-Slider_01.png");}
#slide2 {background-image: url("../assets/img/Daybreaker_Experience-Slider_02.png");}
#slide3 {background-image: url("../assets/img/Daybreaker_Experience-Slider_03.png");}
#slide4 {background-image: url("../assets/img/Daybreaker_Experience-Slider_04.jpg");}
#slide5 {background-image: url("../assets/img/Daybreaker_Experience-Slider_05.png");}
#slide6 {background-image: url("../assets/img/Daybreaker_Experience-Slider_06.png");}
#slide7 {background-image: url("../assets/img/Daybreaker_Experience-Slider_07.jpg");}
        /* Slider dots */
ul.slick-dots {
    /* Position it relative to the slider image */
    position: absolute;
    top: 110%; left: 12.5%; right: 12.5%;
    height: 20vh;
    max-width: 69%;

    /* Use flexbox to layout the dots */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* Center it horizontally */
    margin: 0 auto;
}
        /* Use a ::before pseudo-element to achieve the grey line connecting the dots.
        We position it such that it's top border cuts precisely through the dots */
ul.slick-dots::before {
    content: "";
    border-top: 1px solid #DBDBDB;
    position: absolute;
    top: -3px; left: 10px; right: 10px;
}
ul.slick-dots li {
    text-transform: uppercase;

    /* Use flexbox to control the layout of the dots vs. the text */
    display: flex; flex-direction: column; align-items: center; justify-content: space-between;

    height: 20px; top:-10px;
}
ul.slick-dots li button {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #CFCFCF;
}
    /* When a particular slide is active, make the corresponding tracker dot turn green */
.slick-slider .slick-dots li.slick-active button {
    background: #50E3C2;
}
    /* At smaller widths, hide the captions to the dots.*/
.slick-slider .slick-dots li p {
    display: none;
}
    /* Make the secondary dot dissapear */
.slick-dots li button:before {
    font-size: 0px;
}
    /* Arrows */
.slick-arrow.prev {
    background: url("https://www.daybreaker.com/wp-content/themes/dybrkr/images/08-Homepage-Slide-Show-Arrow-back.png") no-repeat;
    background-size: contain;   /* Use this because the image is by default larger than the rendered size */
    width: 25px; height: 30px;
    position: absolute; top: 107.5%; left: 10%;
}
.slick-arrow.next {
    background: url("https://www.daybreaker.com/wp-content/themes/dybrkr/images/08-Homepage-Slide Show-Arrow.png") no-repeat;
    background-size: contain;
    width: 25px; height: 30px;
    position: absolute; top: 107.5%; right: 10%;
}
.slick-arrow.next:hover {
    background: url("https://www.daybreaker.com/wp-content/themes/dybrkr/images/desktop-forward.png") no-repeat;
    background-size: contain;
}
.slick-arrow.prev:hover {
    background: url("https://www.daybreaker.com/wp-content/themes/dybrkr/images/desktop-back.png") no-repeat;
    background-size: contain;
}
    /* Responsiveness: 0-1024px, 1024px+                    */
@media (min-width: 1024px) {
    .slider-section {
        padding-bottom: 100px;
    }
    .slider-img {
        max-width: 69%;
        margin: 0 auto;
        border: 12.5px solid #fff;
    }
    .slick-arrow.prev {
        width: 37px; height: 69px;
        top: 45%; left: 10%;
    }
    .slick-arrow.next {
        width: 37px; height: 69px;
        top: 45%; right: 10%;
    }

    /* At larger widths, display the captions to the dots. These are hidden at smaller widths*/
    .slick-slider .slick-dots li p {
        display: inline;
        font-size: 1.2rem; font-weight: 300;
    }
    ul.slick-dots li {
        height: 50px;
    }
    /* Box that hovers over each image */
    .slider-detail {
        width: 55%; height: 30%;
        left: 22.5%; right: 22.5%;
    }
    .slider-content-right { max-width: 70%; }
    .slider-number {
        border: 6px solid red;      /* At larger screen sizes, increase width of border */
        width: 75px; height: 75px;
        margin-left: 5%; margin-right: 5%;
        font-size: 3.2rem;

    }
    .slider-title { font-size: 2.5rem; }
    .slider-subtext { font-size: 1.2rem; line-height: 1.5rem; }
}

