* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased; /* Fixes edginess of font rendering on safari */
    -webkit-appearance: none;            /* Should prevent iOS from rendering buttons in default iOS styles rather than coded styles */
}

h1, h2, h3, h4, h5, h5 {
    font-weight: unset;
}

video {
    object-fit: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
    transition: background 250ms ease-in-out;
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: 0px solid #fff;
}

button:active {
    transform: scale(0.99);
}

a:link {
/* no underline */
    text-decoration: none !important;
}
a:hover {
    /* no underline */
    text-decoration: none !important;
}
a:visited {
    /* no underline */
    text-decoration: none !important;
}
a:active {
    /* no underline */
    text-decoration: none !important;
}
