/* RULES */
/* header height, main absolute top: , 320-420: 16vh, 420-1000: 12vh, 1000+ 8vh */
/* idx.hero height: 120vh until 420px height, 90vh until 620px height, 70vh above 621 px, but all is trumped by screen width.
If screen width is above 760px, height is auto. This is because we switch to video at 760px */


@media (max-height: 420px) {
    header {
        height: 16vh;               /* 320 (min height we're considering) -> 420 */
    }
    .idx-hero > main {
        top: 16vh;
    }
    .idx-hero {
        height: 120vh;
    }
}
@media (min-height: 421px) and (max-height: 1000px) {
    header {
        height: 12vh;               /* 420 -> 1000 */
    }
    .idx-hero > main {
        top: 12vh;
    }
}
@media (min-height: 1001px) {
    header {
        height: 8vh;                /* 1001+ */
    }
    .idx-hero > main {
        top: 8vh;
    }
}
@media (min-height: 420px) and (max-height: 620px) {
    .idx-hero {
        height: 90vh;
    }
}
@media (min-height: 621px) {
    .idx-hero {
        height: 70vh;
    }
}
@media (min-width: 760px) {
    .idx-hero {
        height: auto; /* At 760 px, we switch from image to video. So size the section according to the video */
    }
}