.home-hero {
    width: 100vw;
    height: 100vh;
    background-image: url("assets/img/dybrkr_home_background_image.jpg");
    /*background-image: url("https://images.sadhguru.org/sites/default/files/media_files/iso/en/66469-have-you-experienced-god-sadhguru-20091209_nee_0251-e.jpg");*/
}